.form-paytm {
  background: rgba(254, 205, 129, 0.6);
  width: 500px;
  height: 280px;
  padding: 20px;
  border-radius: 30px;
  text-align: center;
  transform: translate(20%, 10%);
}
.left img {
  height: calc(100vh - 70px);
  margin-top: -10px;
}
.left {
  float: left;
}
.right {
  float: right;
  transform: translateY(20%);
}
.right h2 {
  color: rgba(185, 129, 85, 1);
  font-size: 60px;
}
.right input {
  text-align: center;
  border: 1px solid rgba(184, 142, 87, 1);
  width: 85%;
  outline: none;
  padding: 12px 0;
  border-radius: 25px;
  font-size: 20px;
  margin-top: 10px;
}
.right .form-paytm div {
  color: rgba(55, 39, 35, 1);
  font-size: 25px;
}
.right .form-paytm .add-screen {
  font-size: 10px;
  margin-top: 20px;
}
.right .form-paytm .add-screen input {
  padding: 10px;
  background-color: #fff;
  border-radius: 30px;
  font-size: 20px;
}
.right .pay-with {
  margin-top: 30px;
  transform: translate(30%, 10%);
  color: #000;
  font-size: 17px;
}
.right .pay-with a {
  color: rgba(184, 142, 87, 1);
}

@media screen and (max-width: 992px) {
  .right {
    padding-left: 10px;
    position: absolute;
    transform: translate(30%, 20%);
  }
  .form-paytm {
    width: 450px;
  }
  .right h2 {
    font-size: 50px;
  }
}
@media screen and (max-width: 768px) {
  .form-paytm {
    width: 350px;
  }
  .right {
    position: absolute;
    transform: translate(42%, 30%);
  }
  .right h2 {
    font-size: 30px;
    text-align: center;
    transform: translateX(20%);
  }
  .left img {
    width: 380px;
    height: calc(100vh - 70px);
    margin-top: -10px;
  }
}
@media screen and (max-width: 576px) {
  .right {
    position: absolute;
    transform: translate(-35%, 30%);
  }
  .form-paytm {
    width: 400px;
  }
  .right h2 {
    color: #fff;
    font-size: 45px;
    text-align: center;
    transform: translateX(20%);
  }
  .right .pay-with a {
    color: #fff;
  }
}
