.form-contact {
  width: 470px;
  background: rgba(254, 205, 129, 0.6);
  margin: 0 auto;
  padding: 15px 40px;
  border-radius: 40px;
  float: right;
}
.contact-container {
  margin-top: 50px;
}
.icons-info .icon {
  margin: 30px;
}
.icons-info .icon > span {
  margin-left: 10px;
}
.icons-info span,
.icons-info p {
  color: rgba(0, 0, 0, 1);
}
.icons-info p {
  margin-left: 40px;
}
.image-contact {
  float: left;
  width: 500px;
  height: calc(100vh - 70px);
  margin-top: -20px;
}
@media screen and (max-width: 992px) {
  .form-contact {
    position: absolute;
    transform: translate(80%, 10%);
    padding: 7px;
    width: 400px;
  }
}
@media screen and (max-width: 768px) {
  .form-contact {
    position: absolute;
    transform: translate(80%, 10%);
    padding: 7px;
    width: 325px;
  }
  .form-contact .send {
    margin-left: 30px;
  }
  .image-contact {
    float: left;
    width: 400px;
    height: calc(100vh - 70px);
    margin-top: -20px;
  }
}
@media screen and (max-width: 576px) {
  .image-contact {
    float: left;
    width: 500px;
    height: calc(100vh - 70px);
    margin-top: -20px;
  }
  .form-contact {
    position: absolute;
    transform: translate(-12%, 25%);
    width: 400px;
    padding: 7px;
  }
}
