.login-container {
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 350px;
  text-align: center;
  height: 300px;
  border-radius: 40px;
  background: rgba(254, 205, 129, 0.6);
}

.login-container h2 {
  color: rgba(55, 39, 35, 1);

  text-align: center;
  font-size: 30px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: center;
}

.login-container input {
  padding: 10px 20px;
  margin-top: 15px;
  background: rgba(255, 255, 255, 0.7);
  text-align: center;
  outline: none;
  border: none;
  font-size: 22px;
  color: rgba(55, 39, 35, 0.44);
  border-radius: 40px;
}
.login-container button {
  /* padding: 5px 20px;
  width: 40%;
  color: #fff;
  margin-top: 10px;
  background: rgba(184, 142, 87, 1);
  border-radius: 40px;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  border: none;
  cursor: pointer; */
  padding: 5px 20px;
  width: 40%;
  color: #fff;
  margin-top: 10px;
  background: rgba(184, 142, 87, 1);
  border-radius: 40px;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  left: 27%;
  top: 50%;
  position: relative;
}
.new-here {
  font-size: 15px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: center;
  color: rgba(55, 39, 35, 1);
}
.new-here span a {
  margin-left: 5px;
  color: rgba(255, 255, 255, 1);
}
