.App {
  height: 100vh;
  background: rgba(255, 244, 229, 0.71);
}
.container {
  padding-left: 70px;
  padding-right: 70px;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Frank Ruhl Libre;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}
a,
p,
li,
ul,
button {
  text-decoration: none;
}
